@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono&display=swap");

/* navbar styling for landing page and documentation page */
/* Styling landing and docs page */
header {
  background: #ff016d;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Styling landing page */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container header {
  grid-area: header;
}

.container main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "section1 section2";
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.description {
  font-family: "Montserrat", "Roboto Mono", "Courier New", monospace;
}

footer {
  grid-area: footer;
}

.brand-light,
.brand-dark {
  width: 7.5rem;
}

.brand-dark {
  display: none;
}

.dark .navbar ul li a img,
.dark .main .av-list img {
  background: var(--font-color);
  border-radius: 50%;
}

.dark .color-bg-container {
  color: var(--color-bg-container);
}

.dark * {
  color: var(--font-color);
}

/* Styling docs page */
.container-docs {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside main main main";
}

.container-docs header {
  grid-area: header;
}

.container-docs aside {
  grid-area: aside;
}

.container-docs main {
  grid-area: main;
  margin-top: 4rem;
}

/* sidebar styling for documentation page */
.sidebar {
  margin-top: 4rem;
  width: 18rem;
  position: fixed;
}

.dark .sidebar {
  background: var(--bg-color);
}

.dark .sidebar ul li a,
.dark .sidebar h3 {
  color: var(--white);
}

.sidebar li {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

.sidebar li a,
.sidebar h3 {
  color: var(--black);
}

.sidebar-list li {
  margin: 0 auto;
}

.sidebar-list li {
  letter-spacing: 4px;
  text-align: center;
}

.sidebar li a:hover {
  padding-left: 0.5rem;
  border-left: 2px solid var(--black);
}

/* documentation */
ul.stacked-list {
  width: 60%;
}

.text-content {
  font-weight: 500;
}

.ham {
  display: none;
  margin-left: -10px;
}

/* icons color */
.notifications {
  color: var(--light-red);
}

#image .image-responsive img {
  border-radius: 0%;
}

.dark .black {
  color: var(--black);
}

.dark .rating {
  color: var(--brown);
}

@media only screen and (max-width: 820px) {
  .container main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "section1"
      "section2";
    margin-top: 10rem;
  }

  .brand {
    width: 6rem;
  }

  .sidebar {
    display: none;
    background-color: var(--beige);
  }

  .main {
    width: 95%;
    margin-left: 0;
  }

  .home {
    display: none;
  }

  .navigation {
    flex-direction: column;
  }

  .ham {
    display: inline-block;
  }

  .av-list img {
    margin-right: 0;
  }

  .btn {
    margin-top: 0.2rem;
  }

  ul.stacked-list,
  .stacked-list .list-border {
    width: 100%;
  }

  .sidebar-close {
    left: -18rem;
    box-shadow: none;
  }

  .nav-list {
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 0;
  }

  .nav-list li {
    padding-left: 0.5rem;
    padding-right: 0;
  }
}
