/* navbar styling for landing page and documentation page */
.navbar {
  z-index: 10;
  background: var(--background-dark);
  position: fixed;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.nav-item a {
  padding: 0.4rem 0.8rem;
  margin-left: 0.5rem;
}

.nav-item a:hover {
  background: var(--gray-yellow);
  border-radius: 3px;
  text-decoration: none;
  transition: background 200ms linear;
}

/* button styling for landing page */
.btn-lp {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.btn-primary-lp {
  background: var(--light-blue);
}

.btn-secondary-lp {
  color: var(--blue-dim);
  border: 1px solid var(--blue-dim);
}

.btn-lg {
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

/* sidebar styling for documentation page */
.sidebar {
  margin-top: 3rem;
  width: 12.5rem;
  padding: 0 1rem;
  position: fixed;
  height: 100vh;
  z-index: 5;
}

.sidebar a {
  border-bottom: 2px solid var(--dark-yellow);
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}

.hd-3 {
  margin: 1rem 0 0.2rem;
  font-size: 1.2rem;
}

/* main content styling for documentation page */
.main {
  width: 65%;
  margin-left: 13.5rem;
  margin-top: 3rem;
}
