.btn {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background: var(--blue-dim);
  color: var(--fg);
}

.btn-secondary {
  background: var(--aqua-dim);
  color: var(--fg);
}

.btn-lg {
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}
